@charset "utf-8";
/* CSS Document */
body{
	background:#ffffff;
	margin:0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
}
#wrapper{
	width:100%;
}
.wrap{
	width:1200px;
	margin:0 auto;
}
.clear{
	clear:both;
}
a{
	text-decoration:red;
}
.topcontainer{
	float:left;
	width:100%;
}
.topbg{
	background:#080942;
	background-repeat:no-repeat;
	background-size:cover;
	display:inline-table;
	width:100%;
	float:left;
	height:60px;
}
.top{
	width:100%;
	float:left;
}
.bg1{
	background-image: url(images/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 100%;
    float: left;
    height: 700px;
}
.header{
	width:100%;
	float:left;
}
.logo{
	width:30%;
	float:left;
}
.mail{
	width: 23%;
    float: left;
    padding-top: 55px;
    color: #ffffff;
}
.mailimg{
	width: 18%;
    float: left;
    margin: 5px 0;
}
.mailcontent{
	width:50%;
	float:left;
}
.time{
	width: 15%;
    float: left;
    padding-top: 55px;
    color: #ffffff;
}
.timeimg{
	width: 25%;
    float: left;
    margin: 6px 0;
}
.timecontent{
	width: 65%;
    float: left;
}
.lang{
	width: 10%;
    float: left;
    padding-top: 60px;
}
.loginbutton{
    float: right;
    padding-top: 71px;
}
.loginbutton a{
	color: #ffffff;
    border: 1px solid #ffcc00;
    background: transparent;
    padding: 8px 30px;
    border-radius: 25px;
    margin-right: 10px;
}
.loginbutton a:hover{
	background:#ffffff;
	color:#000;
	border:1px solid #fff;
}
.menu{
	width: 100%;
    float: left;
    background: #080942;
    margin: 20px 0;
    padding: 10px 0;
}
.menu ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
}
.menu ul li {
	display:inline-block;
    padding: 20px 48px;
}
.menu ul li a {
	color: #fff;
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
}
.menu ul li a:hover{
	color: #fff;
    background: #38165a;
    border: 1px solid #1bca65;
    padding: 10px 19px;
}
.bg1content{
	text-align: center;
    margin: 110px 0px 0 0;
}
.bg1content p{
	margin: 10px 0;
    color: #fff;
}
.bg1content h1{
	color: #fff;
    font-size: 88px;
    margin: 0 0;
}
.bg1button{
	text-align: center;
    margin: 50px 0;
}
.bg1button a{
	color: #442284;
    background: #ffffff26;
    border: 1px solid transparent;
    padding: 10px 40px;
    border-radius: 25px;
	margin-right: 15px;
}
.bg1button a:hover{
	background:#ffae00;
	color: #442284;
	border: 1px solid #ffae00;
}

.bg2{
	background-image: url(images/bg02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 100%;
    float: left;
}

.investplans{
	width: 100%;
    float: left;
    margin-top: 95px;
}
.investplans h1{
	color: #fff;
    font-size: 28px;
    border-left: 4px solid #20c2b3;
    padding: 0 10px;
	
}
.investplans h1 span{
	color:#ffae00;
}
.plan{
	width: 102%;
	float:left;
}
.plan1{
	background-image: url(images/plan1bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 390px;
    float: left;
    height: 166px;
    margin: 30px 5px;
}
.plan2{
	background-image: url(images/plan2bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 396px;
    float: left;
    height: 168px;
    margin: 30px 5px;
}
.plan3{
	background-image: url(images/plan3bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 400px;
    float: left;
    height: 168px;
    margin: 30px 5px;
}
.plan4{
	background-image: url(images/plan4bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 401px;
    float: left;
    height: 166px;
    margin: 30px 5px;
}
.plan5{
	background-image: url(images/plan5bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 393px;
    float: left;
    height: 168px;
    margin: 30px 5px;
}
.plan6{
	background-image: url(images/plan6bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 393px;
    float: left;
    height: 166px;
    margin: 30px 5px;
}
.plantop{
	text-align: center;
    margin-left: 25px;
	}
.yebacoins{
	color: #1bca65;
    font-size: 20px;
    margin: 20px 0 6px 0;
}
.yebacoins span{
	color: #ffae00;
}
.bonus{
	margin: 0px;
    color: #d5d5d5;
    margin-right: 70px;
}
.bonus span{
	color: #1bca65;
}
.middle{
	text-align: center;
    margin-right: 73px;
}
.mini{
	margin: 16px 0 0 0;
    color: #fff;
}
.mini span{
	margin-left: 35px;
	}
.minivalue{
	margin: 5px 0 0 15px;
    color: #ffae00;
}
.minivalue span{
    margin-left: 32px;
}
.bottom{
	text-align: center;
}
.bottom p{
	color: #1aca65;
    margin-left: 77px;
}
.bottom a{
	color: #ffffff;
    margin-left: 50px;
}
.bottom a:hover{
	color: #ffae00;
}
.bg3{
	background-image: url(images/aboutbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 100%;
    float: left;
	height: 510px;
}
.aboutus{
	width:100%;
	float:left;
	padding:50px 0;
}
.about1{
	width:50%;
	float:left;
}
.about1 h1{
	color: #000000;
    font-size: 28px;
    border-left: 4px solid #20c2b3;
    padding: 0 10px;
}
.about1 h1 span{
	color: #ffae00;
}
.firstpara{
	color: #707070;
    line-height: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #20c2b3;
}
.secondpara{
    color: #707070;
    line-height: 25px;
}
.about2{
	width:50%;
	float:left;
}
.aboutusbutton{
	padding-top: 20px;
}
.aboutusbutton a{
	color: #000;
    border:2px solid #1bca65;
    padding: 12px 25px;
    border-radius: 24px;
}
.aboutusbutton img{
	background: #1bca65;
    border-radius: 25px;
    padding: 5px 4px;
    position: relative;
    top: 8px;
}
.aboutusbutton a:hover{
	color:#000;
	border: 2px solid #ffae00;
}
.aboutusbutton img:hover{
	background: #ffae00;
}
.bg4{
	background-image: url(images/calcbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 100%;
    float: left;
	height: 370px;
}
.calc{
	width:100%;
	float:left;
	padding: 60px 0;
}
.calc1{
	width:17%;
	float:left;
}
.calc1 p{
	color: #fff;
    font-size: 28px;
}
.calc1 p span{
	color:#ffae00;
}
.calc2{
	width:46%;
	float:left;
}
.calc3{
	width:35%;
	float:left;
}
.affiliate{
	border: 4px solid #74b7b9;
    padding: 10px 85px;
}
.aff1{
	color: #fff;
    font-size: 28px;
}
.aff1 span{
	color: #ffae00;
}
.aff2{
	color: #f6f6f6;
    font-size: 24px;
}
.aff2 span{
	color: #20c2b3;
    font-size: 24px;
}
.aff3{
	color: #ffae00;
    font-size: 38px;
    margin: 4px 0;
}
.depositbutton{
	padding-top: 60px;
}

.depositbutton a{
	color: #fff;
    background: #1bca65;
    padding: 18px 30px;
    border-bottom: 5px solid #009c42;
    border-radius: 45px;
}
.depositbutton a:hover{
	color: #000;
    background: #ffae00;
    border-bottom: 5px solid #986b0a;
}
.bg5{
	background-image: url(images/bg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 100%;
    float: left;
	height: 700px;
}
.advantage1{
	width:100%;
	float:left;
	padding: 10px 0;
}
.advantage span{
	font-weight:900;
}


.advheading{
	color: #fff;
    font-size: 28px;
    border-left: 4px solid #01c0a1;
    padding: 0 15px;
    margin: 40px 0;
}
.advantage img{
	    margin-top: 10px;
}
.advantage p{
	color:#919191;
	font-size:18px;
	font-family: 'Roboto', sans-serif;
	text-align:center;
}
.adv1{
	width:50%;
	float:left;
}
.adv2{
	width:50%;
	float:left;
	margin-top:20px;
}
.advicon{
	width:100%;
	float:left;
}
.advimg{
	width:20%;
	float:left;
}
.avdcontent{
	width: 70%;
    float: left;
    height: 120px;
    padding: 5px 0;
}
.avdcontent span{
	color:#ffae00;
	font-size:20px;
	text-transform:uppercase;
	font-family: 'Roboto', sans-serif;
}
.avdcontent p{
	color: #696c7b;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    line-height: 25px;
}
.bg6{
	background-image: url(images/bg6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 100%;
    float: left;
	height: 680px;
}
.stat1{
	background-image: url(images/round.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* display: inline-table; */
    width: 19%;
    float: left;
    height: 210px;
    margin-left: 10px;
}
.stat h1{
	color:#000;    
    font-size: 28px;
	margin: 0;
	border-left: 4px solid #01c0a1;
    padding: 0 15px;
}
.stat h1 span{
	color:#f0ae20;    
}
.statpara{
	color: #848484;
    padding: 0 60px;
	margin: 16px 0px 30px 0;
}
.stat1 img{
	margin: 60px 0px 0 70px;
}
.stat1 p{
	text-align: center;
    margin: 10px 15px 50px 0;
    color: #01c0a1;
    font-size: 22px;
}
.stat1 span{
	margin-left: 50px;
}
.bg7{
	background-image: url(images/bg7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 100%;
    float: left;
}

.security h1{
	margin-top: 165px;
    text-align: center;
	text-transform:uppercase;
	font-size: 28px;
    color: #fff;
}
.footerbg{
	background-image: url(images/footerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-table;
    width: 100%;
    float: left;
}
.footer{
	width:100%;
	float:left;
	padding: 40px 0;
}
.footer1{
	width:30%;
	float:left;
}
.footer1 p{
	color: #fff;
    line-height: 25px;
}
.footerlink a{
	color: #fff;
    border-right: 2px solid #ea7916;
    padding-right: 20px;
}
.footerlink a:hover{
	color: #14cbb9;
}
.footer2{
	width: 35%;
    float: left;
}
.footer3{
	width: 25%;
    float: left;
	color:#fff;
}
.topfb2{
    width: 100%;
    float: left;
	padding: 15px 0;
}
.topfb{
	width: 5%;
    float: left;
    padding: 5px 10px;
}
.top2fb{
	width: 6%;
    float: left;
}
.top2fb{
	width: 93%;
    float: left;
}
.top2fb a{
	color: #000000;
    font-size: 16px;
}
.top2fb a
{
}
.top2fb a i{
	border: 1px solid #fff;
    width: 17px;
    text-align: center;
    height: 17px;
    color: #ffc13c;
    padding: 5px 6px;
    border-radius: 40px;
	background:#fff;
}
.top2fb a i:hover{
	background: #37dba9;
    color: #fff;
    border: 1px solid #37dba9;
}
.footer3 img{
	position: relative;
    top: 2px;
}
.footermenu{
	width: 100%;
    float: left;
    margin: 0px 0;
    padding: 0px 0;
}
.footermenu ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
}
.footermenu ul li {
	display: inline-block;
    padding: 5px 26px;
    border-left: 2px solid #fff;
    height: 15px;
}
.footermenu ul li a {
	color: #fff;
    padding: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
}
.footermenu ul li a:hover{
	color:#0bb8b2;
}
.payment{
	width:100%;
	float:left;
	padding: 50px 0 10px 0;
}